{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-box">
    <h2>Create Account</h2>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input name="username" placeholder="Username" required>
        <input name="email" placeholder="Email">
        <input name="password1" type="password" placeholder="Password" required>
        <input name="password2" type="password" placeholder="Confirm Password" required>
        <button type="submit">Signup</button>
    </form>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

</body>
</html>
