{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Expense Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <strong>Expense Tracker</strong>
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'expense_list' %}">Expenses</a>
        <a href="{% url 'income_list' %}">Income</a>
        <a href="{% url "budget" %}">Budget</a>
        <a href="{% url 'add_expense' %}">Add Expense</a>
        <a href="{% url 'category_list' %}">Categories</a>
        <a href="{% url "change_password" %}">Change Password</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </div>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
